.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 1rem 1rem 1rem;
}

.Text1 {
  font-size: 01rem;
  font-weight: 600;
  color: #000000;
}

.Button {
  color: #ff9800;
  font: 600 1rem Poppins, sans-serif;
  cursor: pointer;
}
